<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

    <form method="post">
        <table class="table">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td>Verify Password: </td>
                <td><input type="password" name="verify"/></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input type="email" name="email"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>
</body>
</html>